@model IEnumerable<DeStaProduction.ViewModels.LocationViewModel>

<section class="performances-page">

    <div class="top-bar">
        <h1 class="page-title">Локации</h1>

        <a asp-action="Create" class="btn-add">
            + Добави локация
        </a>
    </div>

    <div class="performances-grid">

        @foreach (var item in Model)
        {
            <div class="performance-box location-card">

                <div class="location-content">
                    <h3>@item.Name</h3>

                    <p class="info">📍 @item.City</p>
                    <p class="info">👥 Капацитет: @item.Capacity</p>
                </div>

                <div class="location-actions">

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-details">
                        Детайли
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-edit">
                        ✏️ Редактирай
                    </a>
                    <form asp-action="Delete" method="get">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button class="btn-delete">Изтрий</button>
                    </form>

                </div>

            </div>
        }

    </div>

</section>