@model IEnumerable<DeStaProduction.ViewModels.PerformanceViewModel>

<section class="performances-page">

    <div class="top-bar">

        <h1 class="page-title">Всички представления</h1>

        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Create" class="btn-add">
                + Добави представление
            </a>
        }

    </div>

    <div class="performances-grid">

        @foreach (var item in Model)
        {
            <div class="performance-box">

                <div class="performance-content">
                    <h3>@item.Title</h3>

                    <p class="info">@item.Location</p>
                    <p class="date">@item.Date.ToString("dd MMM yyyy HH:mm")</p>
                </div>

                <div class="performance-actions">

                    @if (User.IsInRole("Admin"))
                    {
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button class="btn-delete">Изтрий</button>
                        </form>
                    }

                </div>

                <div class="ticket-action">
                    <a asp-action="Reserve"
                       asp-route-id="@item.Id"
                       class="btn-ticket">
                        🎟️ Запази билет
                    </a>
                </div>
            </div>
        }

    </div>

</section>