@model DeStaProduction.ViewModels.EventViewModel

<h2>@Model.Title</h2>

<p><strong>Тип събитие:</strong> @Model.TypeName</p>
<p><strong>Описание на събитието:</strong> @Model.Description</p>
<p><strong>Времетраене:</strong> @Model.Duration мин</p>


<h4>Представления</h4>

@if (Model?.Performances?.Any() ?? false)
{
    <ul>
        @foreach (var p in Model.Performances)
        {
            <li>@p.Title – @p.Date.ToString("dd.MM.yyyy HH:mm") в @p.Location</li>
        }
    </ul>
}
else
{
    <p>Все още няма събития.</p>
}

<a asp-action="Index" class="btn btn-secondary">Назад</a>

