@using DeStaProduction.ViewModels
@model IEnumerable<EventViewModel>

<h2>Репертоар</h2>

<a asp-action="Create" class="btn btn-primary mb-2">Създай Заглавие</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Заглавие</th>
            <th>Категория</th>
            <th>Времетраене (мин)</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Title</td>
                <td>@e.TypeName</td>
                <td>@e.Duration</td>
                <td>
                    <a asp-action="Details" asp-route-id="@e.Id" class="btn btn-info btn-sm">
                        Детайли
                    </a>
                    <form asp-action="Delete" asp-route-id="@e.Id" method="post" style="display:inline">
                        <button class="btn btn-danger btn-sm">Изтрий</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

